#deployment/mongo_data
/services/vols/target/
/services/externals/hotels/target/
/services/carRPC/target/
/services/hotelRPC/target/
/deployment/mongo_data/
/flows/target/
/tests/acceptation/target/
cp-files.sh
deploy-servicemix.sh
